<div class="page-wrapper">
	<form [formGroup]="form" class="filter-wrapper">
		<mat-form-field appearance="fill">
			<mat-label>Filter</mat-label>
			<input matInput formControlName="filter">
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Type</mat-label>
			<mat-select formControlName="sport">
				<mat-option [value]="null">All</mat-option>
				<mat-option *ngFor="let sport of sportTypes" [value]="sport.strSport">{{sport.strSport}}</mat-option>
			</mat-select>
		</mat-form-field>

	</form>

	<div class="list-wrapper">
		<div matRipple class="record" *ngFor="let league of filteredLeagues" (click)="selectLeague(league)">
			<div class="record-title">{{league.strLeague}}</div>
		</div>

		<div *ngIf="filteredLeagues?.length === 0" class="no-records-found">No records found</div>
	</div>
</div>
