<div class="h-100 w-100 app-background">
  <mat-sidenav-container class="example-container w-100 h-100">
    <mat-sidenav class="h-100"
                mode="over"
                position="end"
                [(opened)]="sidebarOpened">
      <div class="sidebar-wrapper">
        <!-- Sidebar -->
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-header-wrapper">
        <div class="page-title-wrapper" [@fadeInOut]="app.currentPageTitle">
          <mat-icon *ngIf="!app.isAtRootPath" (click)="goBack()">west</mat-icon>
          <div class="page-title">{{app.currentPageTitle | translate}}</div>
        </div>
        <div class="logo-wrapper">          
          <img *ngIf="!app.isAtRootPath"
               [@fadeInOut]="app.currentPageTitle"
               class="logo"
               src="/assets/images/app/app-logo.png"
               (click)="goToRoot()" />
        </div>
        <div class="menu-icon-wrapper">
          <mat-icon class="menu-icon" (click)="openSidebar()">menu</mat-icon>
        </div>
      </div>

      <div class="h-100 w-100 app-content-wrapper" [@routerTransitions]="outletAnimation" (@routerTransitions.done)="animationDone()">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>