@import '/src/styles/theme.scss';
@import '~@angular/material/theming';

.mat-drawer-content {
    overflow: hidden !important;
}

.mat-drawer-container {
    background-color: transparent !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,.6);
}

.mat-sidenav {    
    background: #4d545b;
    padding: 18px 16px;
    color: white;
}

.mat-form-field-flex {
    background-color: map-get($primary-palette, 50) !important;
}