
@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import './palettes.scss';

@include mat-core($db-typography);

$primary-palette: mat.$blue-grey-palette;
$accent-palette: mat.$teal-palette;
$primary-background-gradient: linear-gradient(90deg,  map-get($primary-palette, 900) 0%, map-get($primary-palette, 700) 100%);

$o5-primary: mat.define-palette($primary-palette, 500);
$o5-accent: mat.define-palette($accent-palette, 500);

$o5-theme: mat.define-light-theme((
 color: (
   primary: $o5-primary,
   accent: $o5-accent,
 )
));

$module-dnd-background: url(/assets/images/app/app-bg.png);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $o5-accent,
      accent: $o5-primary,
    ),
  )
);

body.dark-mode {
  @include mat.all-component-colors($angular-dark-theme);
}

body:not(.dark-mode) {  
  @include mat.all-component-themes($o5-theme);
}
