<div class="page-wrapper">
	<div class="title">{{data?.strLeague}}</div>
	<table class="details">
		<tr>
			<td>Country</td>
			<td>{{data?.strCountry}}</td>
		</tr>
		<tr>
			<td>Sport</td>
			<td>{{data?.strSport}}</td>
		</tr>
		<tr>
			<td>Current season</td>
			<td>{{data?.strCurrentSeason}}</td>
		</tr>
		<tr>
			<td>First event</td>
			<td>{{data?.dateFirstEvent}}</td>
		</tr>
		<tr>
			<td>Website</td>
			<td>{{data?.strWebsite}}</td>
		</tr>
		<tr>
			<td>Website</td>
			<td>{{data?.strWebsite}}</td>
		</tr>
	</table>

	<div class="description">{{data?.strDescriptionEN}}</div>
</div>