.mat-drawer-content {
    overflow: hidden !important;
}
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,.6);
}

.mat-sidenav {    
    background: #4d545b;
    padding: 18px 16px;
    color: white;
}